.container{
    .banner{
        background-image: url("../assets/images/Rectangle3.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.img-fit{
    object-fit: cover; 
}
.img-explore-spacer{
    padding: 32px 56px;
    @include pad{
    padding: 16px 34px;
       }
}
.img-explore-size{
    width: 80px;
    height: 80px;
    @include pad-sm{
     width: 40px;
     height: 40px;
    }
}
.img-explore-pb{
    padding-bottom: 12px;
    @include pad-sm{
        padding-bottom: 8px;
    }
}
.btn-spacer{
    padding: 36px 40px;
    @include pad-sm{
        padding: 22px 30px;
    }
}
.card-header{
    padding-bottom: 12px !important;
    margin-bottom: 12px !important;
}
