.container{
    .banner{
        background-image: url("../images/Rectangle3.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.img-fit{
    object-fit: cover; 
}
.img-position{
    object-position: 0% 33%;
}
.img-explore-spacer{
    padding: 32px 56px;
    @include pad{
    padding: 16px 34px;
       }
}
.img-explore-size{
    width: 80px;
    height: 80px;
    @include pad-sm{
     width: 40px;
     height: 40px;
    }
}
.btn-spacer{
    padding: 36px 40px;
    @include pad-sm{
        padding: 22px 30px;
    }
}
.img-active-size{
    width: 416px;
    height: 255px;
}
.border-left-1{
    border-left: 4px solid #000 !important;
}
.mt-60 {
    margin-top: 60px;
  }
  .h2-transform {
    transform: translate(-50%, -50%) rotate(-4deg);
  }
  .trans-card {
    &:nth-child(2n) {
        transform: rotate(2deg);
    }
    &:nth-child(3) {
        transform: rotate(-2deg);
    }
  }
  .item {
    img {
      object-fit: cover;
      height: 274px;
    }
  }
  .mb-60{
    margin-bottom: 60px !important;
  }
  .pt-60{
    padding-top: 60px;
  }