<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>7TAO活動訂票網</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="container mt-5 mb-7">
      <div class="banner">
        <p class="fs-60 ms-7 text-white mb-280">19 MAY 2023</p>
        <div class="text-center pb-4">
          <p class="fs-4 text-white mb-3 letter-spacing">隔牆有耳-沒有草東的派對</p>
          <p class="text-white">你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！<br>
            帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
        </div>
      </div>
    </div>
    <div class="container mb-7">
      <div class="row row-cols-3 row-cols-xl-6 g-2 g-md-4 h-100">
        <div class="col">
          <a class="border border-primary border-2 img-explore-spacer d-flex flex-column align-items-center h-100"
            href="#" type="button">
            <img src="../assets/images/cate01.svg" alt="演出" class="img-explore-pb img-explore-size">
            <span class="fs-7 fs-md-4 fw-bold">演出</span>
          </a>
        </div>
        <div class="col">
          <a class="border border-primary border-2 img-explore-spacer d-flex flex-column align-items-center h-100"
            href="#" type="button">
            <img src="../assets/images/cate02.svg" alt="聯誼" class="img-explore-pb img-explore-size">
            <span class="fs-7 fs-md-4 fw-bold">聯誼</span>
          </a>
        </div>
        <div class="col">
          <a class="border border-primary border-2 img-explore-spacer d-flex flex-column align-items-center h-100"
            href="#" type="button">
            <img src="../assets/images/cate03.svg" alt="展覽" class="img-fit pb-md-2 pb-12 img-explore-size">
            <span class="fs-7 fs-md-4 fw-bold">展覽</span>
          </a>
        </div>
        <div class="col">
          <a class="border border-primary border-2 img-explore-spacer d-flex flex-column align-items-center h-100"
            href="#" type="button">
            <img src="../assets/images/cate04.svg" alt="展覽" class="img-fit pb-md-2 pb-12 img-explore-size">
            <span class="fs-7 fs-md-4 fw-bold">美食</span>
          </a>
        </div>
        <div class="col">
          <a class="border border-primary border-2 img-explore-spacer d-flex flex-column align-items-center h-100"
            href="#" type="button">
            <img src="../assets/images/cate05.svg" alt="展覽" class="img-fit pb-md-2 pb-12 img-explore-size">
            <span class="fs-7 fs-md-4 fw-bold">戶外</span>
          </a>
        </div>
        <div class="col">
          <a class="bg-primary text-secondary fs-4 fs-md-2 w-100 h-100 lh-sm text-center btn-spacer" href="#"
            type="button">探索<br>更多</a>
        </div>
      </div>
    </div>
    <div class="container mb-7">
      <div class="d-flex align-items-center justify-content-between border border-3 border-primary mb-5 py-4 px-5">
        <h2 class="fs-1">
          RECENT
        </h2>
        <h3 class="fs-3 fw-bold">
          近期活動
        </h3>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100  bg-transparent border-0">
            <div class="card-header fs-2 bg-transparent border-bottom border-3 border-primary">19 MAY 2023</div>
            <img src="../assets/images/01.jpg" class="card-img-top" alt="邪典電影派對——房間">
            <div class="card-body">
              <h5 class="card-title fs-4">邪典電影派對——房間</h5>
              <p class="card-text">你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
            </div>
            <div class="card-footer bg-transparent border-top border-bottom border-2 border-primary d-flex justify-content-between">
              <a class="d-flex" href="#" type="button">
                <img src="../assets/images/sparkler.png" alt="sparkler" style="width: 24px;height: 24px;">社群活動
              </a>
              <a class="d-flex fw-bold" href="#" type="button">
                開賣中 >>
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100  bg-transparent border-0">
            <div class="card-header fs-2 bg-transparent border-bottom border-3 border-primary">23 MAY 2023</div>
            <img src="../assets/images/02.jpg" class="card-img-top" alt="怪舞俱樂部">
            <div class="card-body">
              <h5 class="card-title fs-4">怪舞俱樂部</h5>
              <p class="card-text">你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
            </div>
            <div class="card-footer bg-transparent border-top border-bottom border-2 border-primary d-flex justify-content-between">
              <a class="d-flex" href="#" type="button">
                <img src="../assets/images/sparkler.png" alt="sparkler" style="width: 24px;height: 24px;">社群活動
              </a>
              <a class="d-flex fw-bold" href="#" type="button">
                開賣中 >>
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100  bg-transparent border-0">
            <div class="card-header fs-2 bg-transparent border-bottom border-3 border-primary">19 MAY 2023</div>
            <img src="../assets/images/01.jpg" class="card-img-top" alt="邪典電影派對——房間">
            <div class="card-body">
              <h5 class="card-title fs-4">邪典電影派對——房間</h5>
              <p class="card-text">你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
            </div>
            <div class="card-footer bg-transparent border-top border-bottom border-2 border-primary d-flex justify-content-between">
              <a class="d-flex" href="#" type="button">
                <img src="../assets/images/sparkler.png" alt="sparkler" style="width: 24px;height: 24px;">社群活動
              </a>
              <a class="d-flex fw-bold" href="#" type="button">
                開賣中 >>
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mb-7">
      <div class="d-flex align-items-center justify-content-between border border-3 border-primary mb-5 py-4 px-5">
        <h2 class="fs-1">
          ONLINE
        </h2>
        <h3 class="fs-3 fw-bold">
          線上活動
        </h3>
      </div>

    </div>


    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>