<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>會員登入</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="container mb-8">
            <div class="d-flex flex-column align-items-center mb-4">
                <img src="../assets/images/sparkler.png" alt="sparkler">
                <p class="fs-4 fw-bold">會員登入</p>
            </div>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <form>
                        <div class="mb-4">
                            <label for="exampleInputId1" class="form-label">帳號</label>
                            <input type="text" class="form-control" id="exampleInputId1" aria-describedby="textId"
                                placeholder="請輸入帳號">
                        </div>
                        <div class="mb-6">
                            <label for="exampleInputPassword1" class="form-label">密碼</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                aria-describedby="textPassword" placeholder="請輸入密碼">
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <a type="button"
                                class="w-100 btn btn-primary fs-7 fs-sm-5 py-2 d-flex align-items-center justify-content-center hover-text-yellow mb-4"
                                href="index.html">登入<span class="material-icons-outlined ms-1">
                                    keyboard_double_arrow_right
                                </span></a>
                        </div>
                    </form>
                </div>

            </div>

        </div>

        <%- include('./layout/footer'); -%>
            <script type="module" src="../assets/js/swiper.js"></script>
            <script type="module" src="../main.js"></script>
</body>

</html>