<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>會員登入</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="container mb-8">
            <div class="d-flex flex-column align-items-center mb-4">
                <img src="../assets/images/sparkler.png" alt="sparkler">
                <p class="fs-5 fw-bold">結帳資訊</p>
            </div>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <form>
                        <div class="mb-1">
                            <label for="exampleInputName1" class="form-label">取票資訊</label>
                            <input type="text" class="form-control" id="exampleInputName1" aria-describedby="textHelp"
                                placeholder="請輸入身分證字號或護照號碼">
                        </div>
                    </form>
                </div>

            </div>

        </div>

        <%- include('./layout/footer'); -%>
            <script type="module" src="../assets/js/swiper.js"></script>
            <script type="module" src="../main.js"></script>
</body>

</html>